:root{
    --orange: #D95550;
    --lightOrange: #DD6662;
    --veryLightOrange: #f89e8b;
    --gray: #55557B;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--orange);
}
.logo{
    position: absolute;
    top: 0px;
    right: 30px;
}
h1{
    margin-top: 200px;
    color: white;
    text-align: center;
}
#stats{
    margin: 25px 0 50px;
    color: #ffe5d2;
    text-align: center;
    font-size: 1.3em;
}
form{
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    height: 100px;
    text-align: center;
    padding-top: 45px;
}
form input[type="text"]{
    background-color: var(--orange);
    color: white;
    border-style: none;
    height: 40px;
    font-size: 1.5em;
}
form input[type="text"]::placeholder{
    color: var(--veryLightOrange);
}
form input[type="text"]:focus{
    outline: none;
}

form input[type="submit"]{
    color: var(--orange);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    font-size: 2em;
}
form input[type="submit"]:hover{
    background-color: var(--veryLightOrange);
    cursor: pointer;
    color: white;
}
.list-container{
    max-width: 600px;
    margin: 0 auto;
}
.task-container{
    display:flex;
    justify-content: space-between;
    margin: 6px 0;
    border-radius: 4px;
    padding: 16px;
    background-color: white;
    position: relative;
    color: var(--gray);
    font-size: 1.1em;
    font-weight: 500;
}
.closeBoton{
    width: 15px;
    height: 15px;
}
.closeBoton{
    cursor: pointer;
    color: white;
}